<!DOCTYPE html>
<html>
<head>
	<title>Distance Calculator</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<script type="text/javascript">

    $(function() {
        $('#loadResults').click(function() {
            event.preventDefault();
		    var formData = {
		      pointA: $("#pointA").val(),
		      pointB: $("#pointB").val()
		    };
            
            $.ajax({
                type: 'POST',
                url: '/calculateDistance',
                data: JSON.stringify(formData),
                dataType : 'json',
				contentType: 'application/json',
				success : (data) => {
					result1 = "Distance: " + data.distance + "km"
					$('#result1').text(result1);
				},
				error : (data) => {
					alert('Error in calculation!');
				}
            });
        });
    }); 
</script>
<body>
	<div class="container">
	  <div class="row">
	    <div class="col">
	    </div>
	    <div class="col-8">
		  	<div class="page-header">
		    	<h1 class="display-2 text-center" >Distance Calculator Utilility</h1>      
		  	</div>

			</br>
			<h2>Please select two locations to calculate distance between</h2>
			<form id="myform" method="POST">


      			<div class="mb-3">
				<label for="pointA" class="form-label">Point A</label>
		  		<input type="text" id="pointA" name="pointA" class="form-control"><br>
				</div>

      			<div class="mb-3">				
				<label for="pointB" class="form-label">Point B</label>
		  		<input type="text" id="pointB" name="pointB" class="form-control"><br>
		  		</div>

			</form>
			</br>
			<button id="loadResults" class="btn btn-primary btn-block mb-4">Calculate</button>
			</br>
			</br>
			<h2 id="result1"></h2>
	    </div>
	    <div class="col">
	    </div>
	  </div>
	</div>
</body>
</html>